*{
  box-sizing: border-box;
}
body {
  background: #6a46ca;
  height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
h1 {
  color: #fff;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
}
form {
  background: #fff;
  border-radius: 5px;
  padding: 20px;
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
}
input,
select,
button {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 16px;
}
button {
  background: #6a46ca;
  color: #fff;
  cursor: pointer;
}
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
li {
  display: flex;
  align-items: center;
}
li input[type="checkbox"] {
  border: 1px solid #6a46ca;
  margin-right: 10px;
}
label {
  font-weight: bold;
  margin-bottom: 10px;
}
input[type="checkbox"] {
  appearance: none;
  width: 20px;
  height: 20px;
  border: 1px solid #ccc;
  border-radius: 3px;
  cursor: pointer;
}
input[type="checkbox"]:checked {
  background: #6a46ca;
  border: 1px solid #6a46ca;
}
li label {
  font-size: 16px;
}
select {
  cursor: pointer;
}
.container {
  margin-top: 20px;
}
.group {
  display: flex;
  gap: 1rem;
  width: 100%;
}

form h1 {
  text-align: center;
  margin-bottom: 20px;
}